In [1]:
import numpy as np
import pandas as pd 
data = pd.read_csv('C:/Users/Gvaidyam/Desktop/Civis/individual_data.csv')

In [2]:
data["adult"] = (data["age"]>=18).astype(int)

In [3]:
perc_adult = sum(data["adult"])/data.shape[0]

In [4]:
ad_per_hh = np.sum(data["adult"])/len(pd.unique(data["hh_id"]))

In [5]:
chi_per_hh = (data.shape[0]-np.sum(data["adult"]))/len(pd.unique(data["hh_id"]))

In [6]:
perc_college_grad = np.sum(data["is_college_graduate"])/np.sum(data["adult"])

In [7]:
perc_college_grad_all = np.sum(data["is_college_graduate"])/(data.shape[0])

In [8]:
college_table = pd.crosstab(index=data["is_college_graduate"], 
                           columns=data["adult"])#.apply(lambda r: r/r.sum(), axis=1)
college_table.index= ["no","yes"]

In [9]:
data.loc[(data["adult"]==0) &(data["is_college_graduate"]==1),"is_college_graduate"]=0

In [10]:
data.loc[data["gender"]=="F","Gender"]="Female"
data.loc[data["gender"]=="FEMALE","Gender"]="Female"
data.loc[data["gender"]=="Female","Gender"]="Female"
data.loc[data["gender"]=="M","Gender"]="Male"
data.loc[data["gender"]=="MALE","Gender"]="Male"
data.loc[data["gender"]=="Male","Gender"]="Male"

In [11]:
data.drop('gender', axis=1, inplace=True)

In [12]:
data["gender_indicator"] = (data["Gender"]=="Male").astype(int)

In [13]:
adults_per_hh= pd.pivot_table(data,index=["hh_id"],values=["adult","gender_indicator"],aggfunc=np.sum).reset_index()

In [14]:
adults_per_hh.columns.values[2] = 'male_indicator'

In [15]:
data=pd.merge(data, adults_per_hh, on='hh_id', how='left')
data

,hh_id,person_id,is_head_of_household,married,race,age,voted_in_2012,is_college_graduate,adult_x,Gender,gender_indicator,adult_y,male_indicator
0,1,1,1,Single,White,28,0,1,1,Female,0,2,1
1,1,2,0,Single,White,27,1,1,1,Male,1,2,1
2,2,3,1,Married,White,34,0,1,1,Female,0,2,2
3,2,4,0,Married,White,33,1,0,1,Male,1,2,2
4,2,5,0,Single,White,6,0,0,0,Male,1,2,2
5,3,6,1,Single,White,28,0,1,1,Female,0,2,1
6,3,7,0,Single,White,29,1,0,1,Male,1,2,1
7,4,8,1,Single,White,30,0,1,1,Female,0,1,0
8,4,9,0,Single,White,3,0,0,0,Female,0,1,0
9,5,10,1,Single,White,30,1,1,1,Female,0,1,1
10,5,11,0,Single,White,5,0,0,0,Male,1,1,1
11,5,12,0,Single,White,7,0,0,0,Female,0,1,1
12,6,13,1,Married,White,31,1,0,1,Female,0,2,1
13,6,14,0,Married,White,30,0,1,1,Male,1,2,1
14,7,15,1,Single,White,33,0,1,1,Female,0,1,1
15,7,16,0,Single,White,6,0,0,0,Male,1,1,1
16,8,17,1,Married,Asian,25,1,0,1,Female,0,2,1
17,8,18,0,Married,White,25,1,0,1,Male,1,2,1
18,8,19,0,Single,Asian,6,0,0,0,Female,0,2,1
19,9,20,1,Single,White,31,1,0,1,Male,1,1,1
20,10,21,1,Single,White,32,1,0,1,Male,1,1,1
21,11,22,1,Single,White,30,0,1,1,Female,0,2,1
22,11,23,0,Single,White,28,0,1,1,Male,1,2,1
23,12,24,1,Single,Asian,27,0,1,1,Male,1,1,1
24,12,25,0,Single,Asian,5,0,0,0,Female,0,1,1
25,13,26,1,Single,White,29,1,1,1,Male,1,1,1
26,14,27,1,Single,White,33,1,1,1,Male,1,1,1
27,15,28,1,Single,Asian,34,1,0,1,Male,1,1,1
28,16,29,1,Single,White,26,0,1,1,Male,1,1,1
29,17,30,1,Single,White,33,1,1,1,Female,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21016,9987,21017,0,Single,White,32,0,1,1,Male,1,2,1
21017,9987,21018,0,Single,White,3,0,0,0,Female,0,2,1
21018,9988,21019,1,Married,White,29,1,1,1,Female,0,2,1
21019,9988,21020,0,Married,White,30,0,1,1,Male,1,2,1
21020,9989,21021,1,Single,White,31,0,1,1,Male,1,1,1
21021,9990,21022,1,Single,White,28,1,1,1,Female,0,2,1
21022,9990,21023,0,Single,White,27,1,1,1,Male,1,2,1
21023,9990,21024,0,Single,White,4,0,0,0,Female,0,2,1
21024,9991,21025,1,Married,White,31,0,0,1,Female,0,2,1
21025,9991,21026,0,Married,White,28,1,1,1,Male,1,2,1
21026,9992,21027,1,Single,White,30,1,1,1,Female,0,2,1
21027,9992,21028,0,Single,White,26,0,1,1,Male,1,2,1
21028,9992,21029,0,Single,White,4,0,0,0,Female,0,2,1
21029,9993,21030,1,Married,White,30,0,1,1,Female,0,2,1
21030,9993,21031,0,Married,Asian,33,0,1,1,Male,1,2,1
21031,9993,21032,0,Single,White,6,0,0,0,Female,0,2,1
21032,9993,21033,0,Single,White,5,0,0,0,Female,0,2,1
21033,9994,21034,1,Single,White,28,0,1,1,Male,1,1,1
21034,9995,21035,1,Single,White,26,1,0,1,Male,1,1,1
21035,9996,21036,1,Single,Black,32,1,1,1,Female,0,2,1
21036,9996,21037,0,Single,White,33,0,1,1,Male,1,2,1
21037,9996,21038,0,Single,Black,2,0,0,0,Female,0,2,1
21038,9997,21039,1,Single,White,27,0,0,1,Female,0,1,0
21039,9998,21040,1,Single,White,28,0,1,1,Female,0,2,1
21040,9998,21041,0,Single,Asian,26,0,0,1,Male,1,2,1
21041,9998,21042,0,Single,White,3,0,0,0,Female,0,2,1
21042,9999,21043,1,Single,Asian,29,0,1,1,Male,1,1,1
21043,10000,21044,1,Married,White,29,0,0,1,Female,0,2,1
21044,10000,21045,0,Married,White,32,1,0,1,Male,1,2,1
21045,10000,21046,0,Single,White,6,0,0,0,Female,0,2,1

In [16]:
def transform(dat):
    if  dat["married"] == "Single" and dat["adult_y"]>=2:
        return "Unmarried"
    if  dat["married"] == "Married" and dat["adult_y"]>=2:
        return "Married"
    if  dat["Gender"] == "Male" and dat["is_head_of_household"]==1 and dat["adult_y"]==1:
        return "single male"
    if  dat["Gender"] == "Female" and dat["is_head_of_household"]==1 and dat["adult_y"]==1:
        return "single female"

In [17]:
data_nokids=data[data["adult_x"]==1]
data_nokids["household_type"]=data_nokids.apply(transform,axis=1)
data_nokids1 = data_nokids[["hh_id","household_type"]].drop_duplicates()

C:\Users\Gvaidyam\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [18]:
data_nokids

,hh_id,person_id,is_head_of_household,married,race,age,voted_in_2012,is_college_graduate,adult_x,Gender,gender_indicator,adult_y,male_indicator,household_type
0,1,1,1,Single,White,28,0,1,1,Female,0,2,1,Unmarried
1,1,2,0,Single,White,27,1,1,1,Male,1,2,1,Unmarried
2,2,3,1,Married,White,34,0,1,1,Female,0,2,2,Married
3,2,4,0,Married,White,33,1,0,1,Male,1,2,2,Married
5,3,6,1,Single,White,28,0,1,1,Female,0,2,1,Unmarried
6,3,7,0,Single,White,29,1,0,1,Male,1,2,1,Unmarried
7,4,8,1,Single,White,30,0,1,1,Female,0,1,0,single female
9,5,10,1,Single,White,30,1,1,1,Female,0,1,1,single female
12,6,13,1,Married,White,31,1,0,1,Female,0,2,1,Married
13,6,14,0,Married,White,30,0,1,1,Male,1,2,1,Married
14,7,15,1,Single,White,33,0,1,1,Female,0,1,1,single female
16,8,17,1,Married,Asian,25,1,0,1,Female,0,2,1,Married
17,8,18,0,Married,White,25,1,0,1,Male,1,2,1,Married
19,9,20,1,Single,White,31,1,0,1,Male,1,1,1,single male
20,10,21,1,Single,White,32,1,0,1,Male,1,1,1,single male
21,11,22,1,Single,White,30,0,1,1,Female,0,2,1,Unmarried
22,11,23,0,Single,White,28,0,1,1,Male,1,2,1,Unmarried
23,12,24,1,Single,Asian,27,0,1,1,Male,1,1,1,single male
25,13,26,1,Single,White,29,1,1,1,Male,1,1,1,single male
26,14,27,1,Single,White,33,1,1,1,Male,1,1,1,single male
27,15,28,1,Single,Asian,34,1,0,1,Male,1,1,1,single male
28,16,29,1,Single,White,26,0,1,1,Male,1,1,1,single male
29,17,30,1,Single,White,33,1,1,1,Female,0,1,0,single female
30,18,31,1,Single,White,27,0,1,1,Female,0,2,1,Unmarried
31,18,32,0,Single,White,32,0,0,1,Male,1,2,1,Unmarried
32,19,33,1,Single,White,30,1,0,1,Male,1,1,1,single male
33,20,34,1,Married,Asian,29,0,1,1,Female,0,2,2,Married
34,20,35,0,Married,White,32,0,1,1,Male,1,2,2,Married
37,21,38,1,Single,Asian,27,1,0,1,Male,1,1,2,single male
40,22,41,1,Single,White,28,1,1,1,Female,0,2,2,Unmarried
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21007,9982,21008,0,Single,Black,31,0,1,1,Male,1,2,1,Unmarried
21008,9983,21009,1,Single,White,32,1,1,1,Male,1,1,1,single male
21009,9984,21010,1,Married,White,25,1,1,1,Female,0,2,1,Married
21010,9984,21011,0,Married,Black,26,1,1,1,Male,1,2,1,Married
21011,9985,21012,1,Single,White,34,0,1,1,Female,0,2,2,Unmarried
21012,9985,21013,0,Single,Black,31,1,1,1,Male,1,2,2,Unmarried
21014,9986,21015,1,Single,White,28,0,0,1,Female,0,1,0,single female
21015,9987,21016,1,Single,White,32,1,1,1,Female,0,2,1,Unmarried
21016,9987,21017,0,Single,White,32,0,1,1,Male,1,2,1,Unmarried
21018,9988,21019,1,Married,White,29,1,1,1,Female,0,2,1,Married
21019,9988,21020,0,Married,White,30,0,1,1,Male,1,2,1,Married
21020,9989,21021,1,Single,White,31,0,1,1,Male,1,1,1,single male
21021,9990,21022,1,Single,White,28,1,1,1,Female,0,2,1,Unmarried
21022,9990,21023,0,Single,White,27,1,1,1,Male,1,2,1,Unmarried
21024,9991,21025,1,Married,White,31,0,0,1,Female,0,2,1,Married
21025,9991,21026,0,Married,White,28,1,1,1,Male,1,2,1,Married
21026,9992,21027,1,Single,White,30,1,1,1,Female,0,2,1,Unmarried
21027,9992,21028,0,Single,White,26,0,1,1,Male,1,2,1,Unmarried
21029,9993,21030,1,Married,White,30,0,1,1,Female,0,2,1,Married
21030,9993,21031,0,Married,Asian,33,0,1,1,Male,1,2,1,Married
21033,9994,21034,1,Single,White,28,0,1,1,Male,1,1,1,single male
21034,9995,21035,1,Single,White,26,1,0,1,Male,1,1,1,single male
21035,9996,21036,1,Single,Black,32,1,1,1,Female,0,2,1,Unmarried
21036,9996,21037,0,Single,White,33,0,1,1,Male,1,2,1,Unmarried
21038,9997,21039,1,Single,White,27,0,0,1,Female,0,1,0,single female
21039,9998,21040,1,Single,White,28,0,1,1,Female,0,2,1,Unmarried
21040,9998,21041,0,Single,Asian,26,0,0,1,Male,1,2,1,Unmarried
21042,9999,21043,1,Single,Asian,29,0,1,1,Male,1,1,1,single male
21043,10000,21044,1,Married,White,29,0,0,1,Female,0,2,1,Married
21044,10000,21045,0,Married,White,32,1,0,1,Male,1,2,1,Married

In [19]:
data=pd.merge(data, data_nokids1, on='hh_id', how='left')

In [20]:
counts = data_nokids1 ["household_type"].value_counts()/np.sum(data_nokids1 ["household_type"].value_counts())

In [21]:
counts

Unmarried        0.3658
single male      0.2952
Married          0.2434
single female    0.0956
Name: household_type, dtype: float64

In [22]:
household = pd.read_csv('C:/Users/Gvaidyam/Desktop/Civis/household_data.csv')

In [23]:
data=pd.merge(data, household, on='hh_id', how='left')

In [24]:
data_nokids1=pd.merge(data_nokids1, household, on='hh_id', how='left')

In [25]:
data_nokids1

,hh_id,household_type,Household Income,Is Urban Household,Is owner of home,Tercile of Census Tract
0,1,Unmarried,111000,1,0,Middle
1,2,Married,123000,1,1,Bottom
2,3,Unmarried,105400,1,0,Middle
3,4,single female,48100,1,0,Top
4,5,single female,54600,0,0,Top
5,6,Married,108400,1,1,Top
6,7,single female,53200,1,0,Top
7,8,Married,96400,0,1,Top
8,9,single male,39300,1,0,Top
9,10,single male,56400,0,0,Top
10,11,Unmarried,87600,1,0,Top
11,12,single male,49400,1,0,Middle
12,13,single male,56900,1,0,Top
13,14,single male,46500,0,0,Top
14,15,single male,56800,1,0,Middle
15,16,single male,51200,1,0,Bottom
16,17,single female,41900,1,0,Middle
17,18,Unmarried,113000,1,0,Top
18,19,single male,50100,0,0,Top
19,20,Married,90000,1,1,Middle
20,21,single male,52400,1,0,Top
21,22,Unmarried,90200,1,0,Top
22,23,Unmarried,109800,1,0,Middle
23,24,single female,45600,0,0,Middle
24,25,Unmarried,106200,1,0,Top
25,26,single male,53200,0,0,Top
26,27,Unmarried,119600,1,0,Bottom
27,28,single male,45900,1,0,Middle
28,29,Married,100000,1,1,Middle
29,30,Married,111400,1,1,Top
...,...,...,...,...,...,...
9970,9971,Married,105600,0,1,Bottom
9971,9972,Unmarried,126600,1,0,Top
9972,9973,single male,49100,1,0,Middle
9973,9974,single male,52500,0,0,Middle
9974,9975,Unmarried,93800,1,0,Top
9975,9976,Married,96600,0,1,Top
9976,9977,single female,46400,0,0,Top
9977,9978,single male,47800,1,0,Bottom
9978,9979,Unmarried,110000,0,0,Middle
9979,9980,single female,40700,1,0,Top
9980,9981,Married,94600,1,1,Middle
9981,9982,Unmarried,74800,1,0,Top
9982,9983,single male,50100,0,0,Top
9983,9984,Married,98200,0,1,Top
9984,9985,Unmarried,130400,1,0,Bottom
9985,9986,single female,45900,1,0,Top
9986,9987,Unmarried,89600,1,0,Bottom
9987,9988,Married,92800,1,1,Top
9988,9989,single male,37300,1,0,Top
9989,9990,Unmarried,101600,0,0,Top
9990,9991,Married,107000,0,1,Top
9991,9992,Unmarried,111000,1,0,Top
9992,9993,Married,85800,1,1,Top
9993,9994,single male,49200,0,0,Top
9994,9995,single male,57400,1,0,Top
9995,9996,Unmarried,112600,0,0,Bottom
9996,9997,single female,49300,0,0,Middle
9997,9998,Unmarried,96400,1,0,Top
9998,9999,single male,55400,0,0,Top
9999,10000,Married,87800,1,1,Top

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
sns.set(style="ticks")


# Draw a nested boxplot to show bills by day and sex
sns.boxplot(x="household_type", y="Household Income", data=data_nokids1, palette="PRGn")
sns.despine(offset=10, trim=True)
sns.plt.show()

In [28]:
data_nokids1.boxplot(column="Household Income",by="household_type")

In [29]:
data_nokids1.boxplot()
plt.show()

In [ ]:
data_nokids1.dtypes

In [ ]:
help(data_nokids1.describe())

In [31]:
bygroup_treatment = data_nokids1.groupby(['household_type'])

In [32]:
bygroup_treatment.mean()

,hh_id,Household Income,Is Urban Household,Is owner of home
household_type,,,,
Married,4948.386196,99909.038620,0.616270,1.0
Unmarried,5005.610716,100058.447239,0.586113,0.0
single female,5095.286611,49861.610879,0.621339,0.0
single male,5006.439702,49871.375339,0.605352,0.0

In [33]:
ind = pd.read_csv("C:/Users/Gvaidyam/Desktop/Civis/individual_data.csv")
ind

,hh_id,person_id,is_head_of_household,married,gender,race,age,voted_in_2012,is_college_graduate
0,1,1,1,Single,Female,White,28,0,1
1,1,2,0,Single,Male,White,27,1,1
2,2,3,1,Married,Female,White,34,0,1
3,2,4,0,Married,Male,White,33,1,0
4,2,5,0,Single,Male,White,6,0,1
5,3,6,1,Single,Female,White,28,0,1
6,3,7,0,Single,Male,White,29,1,0
7,4,8,1,Single,Female,White,30,0,1
8,4,9,0,Single,FEMALE,White,3,0,0
9,5,10,1,Single,Female,White,30,1,1
10,5,11,0,Single,Male,White,5,0,1
11,5,12,0,Single,Female,White,7,0,1
12,6,13,1,Married,Female,White,31,1,0
13,6,14,0,Married,Male,White,30,0,1
14,7,15,1,Single,Female,White,33,0,1
15,7,16,0,Single,Male,White,6,0,1
16,8,17,1,Married,Female,Asian,25,1,0
17,8,18,0,Married,Male,White,25,1,0
18,8,19,0,Single,F,Asian,6,0,1
19,9,20,1,Single,Male,White,31,1,0
20,10,21,1,Single,Male,White,32,1,0
21,11,22,1,Single,Female,White,30,0,1
22,11,23,0,Single,MALE,White,28,0,1
23,12,24,1,Single,Male,Asian,27,0,1
24,12,25,0,Single,Female,Asian,5,0,1
25,13,26,1,Single,Male,White,29,1,1
26,14,27,1,Single,Male,White,33,1,1
27,15,28,1,Single,Male,Asian,34,1,0
28,16,29,1,Single,Male,White,26,0,1
29,17,30,1,Single,Female,White,33,1,1
...,...,...,...,...,...,...,...,...,...
21016,9987,21017,0,Single,Male,White,32,0,1
21017,9987,21018,0,Single,Female,White,3,0,1
21018,9988,21019,1,Married,F,White,29,1,1
21019,9988,21020,0,Married,Male,White,30,0,1
21020,9989,21021,1,Single,Male,White,31,0,1
21021,9990,21022,1,Single,FEMALE,White,28,1,1
21022,9990,21023,0,Single,Male,White,27,1,1
21023,9990,21024,0,Single,Female,White,4,0,0
21024,9991,21025,1,Married,Female,White,31,0,0
21025,9991,21026,0,Married,Male,White,28,1,1
21026,9992,21027,1,Single,F,White,30,1,1
21027,9992,21028,0,Single,Male,White,26,0,1
21028,9992,21029,0,Single,F,White,4,0,1
21029,9993,21030,1,Married,Female,White,30,0,1
21030,9993,21031,0,Married,Male,Asian,33,0,1
21031,9993,21032,0,Single,Female,White,6,0,0
21032,9993,21033,0,Single,Female,White,5,0,0
21033,9994,21034,1,Single,Male,White,28,0,1
21034,9995,21035,1,Single,Male,White,26,1,0
21035,9996,21036,1,Single,Female,Black,32,1,1
21036,9996,21037,0,Single,Male,White,33,0,1
21037,9996,21038,0,Single,Female,Black,2,0,0
21038,9997,21039,1,Single,Female,White,27,0,0
21039,9998,21040,1,Single,Female,White,28,0,1
21040,9998,21041,0,Single,MALE,Asian,26,0,0
21041,9998,21042,0,Single,Female,White,3,0,0
21042,9999,21043,1,Single,Male,Asian,29,0,1
21043,10000,21044,1,Married,Female,White,29,0,0
21044,10000,21045,0,Married,MALE,White,32,1,0
21045,10000,21046,0,Single,F,White,6,0,1

In [34]:
cols=data_nokids.columns
cols

Index(['hh_id', 'person_id', 'is_head_of_household', 'married', 'race', 'age',
       'voted_in_2012', 'is_college_graduate', 'adult_x', 'Gender',
       'gender_indicator', 'adult_y', 'male_indicator', 'household_type'],
      dtype='object')

In [35]:
df_subset = data_nokids.reindex(columns=['hh_id', 'person_id', 'is_head_of_household', 'married', 'race', 'age',
       'voted_in_2012', 'is_college_graduate', 'adult_x', 'Gender', 'household_type'])

In [36]:
ind = pd.read_csv('C:/Users/Gvaidyam/Desktop/Civis/registration_status.csv')
ind

       person_id  is_registered_democrat
0              1                     0.0
1              2                     0.0
2              3                     0.0
3              4                     1.0
4              5                     0.0
5              6                     1.0
6              7                     0.0
7              8                     1.0
8              9                     0.0
9             10                     1.0
10            11                     0.0
11            12                     0.0
12            13                     0.0
13            14                     0.0
14            15                     0.0
15            16                     0.0
16            17                     0.0
17            18                     0.0
18            19                     0.0
19            20                     0.0
20            21                     0.0
21            22                     0.0
22            23                     1.0
23            24                     0.0
24            25                     0.0
25            26                     1.0
26            27                     0.0
27            28                     0.0
28            29                     1.0
29            30                     0.0
...          ...                     ...
21016      21017                     NaN
21017      21018                     NaN
21018      21019                     NaN
21019      21020                     NaN
21020      21021                     NaN
21021      21022                     NaN
21022      21023                     NaN
21023      21024                     NaN
21024      21025                     NaN
21025      21026                     NaN
21026      21027                     NaN
21027      21028                     NaN
21028      21029                     NaN
21029      21030                     NaN
21030      21031                     NaN
21031      21032                     NaN
21032      21033                     NaN
21033      21034                     NaN
21034      21035                     NaN
21035      21036                     NaN
21036      21037                     NaN
21037      21038                     NaN
21038      21039                     NaN
21039      21040                     NaN
21040      21041                     NaN
21041      21042                     NaN
21042      21043                     NaN
21043      21044                     NaN
21044      21045                     NaN
21045      21046                     NaN

[21046 rows x 2 columns]

In [37]:
data_ind_all=pd.merge(df_subset, ind, on='person_id', how='left')
data_ind_all["response"] = data_ind_all["is_registered_democrat"]
data_ind_all = data_ind_all.drop("is_registered_democrat", axis=1)


#preprocess data to convert categorical vars into numeric: 

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in range(data_ind_all.shape[1]):
    data_ind_all.iloc[:,i] = le.fit_transform( data_ind_all.iloc[:,i])



train = data_ind_all.loc[data_ind_all["response"].isnull()==False ,]
test = data_ind_all.loc[data_ind_all["response"].isnull()==True ,]

In [38]:
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
kf = KFold(len(train), 5, shuffle=True, random_state=8)
lr = LogisticRegression()

In [ ]:
#accuracies = cross_val_score(lr,train[['is_head_of_household','race','age','voted_in_2012','is_college_graduate','adult_x','Gender','household_type']], 
                             train["response"], scoring="roc_auc", cv=kf)
#average_accuracy = sum(accuracies) / len(accuracies)




accuracies = cross_val_score(lr,train[['is_head_of_household','race','age','voted_in_2012','is_college_graduate','adult_x','Gender','household_type']], 
                             train["response"], scoring="roc_auc", cv=kf)
average_accuracy = sum(accuracies) / len(accuracies)

In [40]:
accuracies

array([ 0.32556695,  0.33302268,  0.33778745,  0.34182722,  0.33436917])